html {
    background: url(immagini/tuoni.jpg) no-repeat fixed center;
    background-size: cover;
}

header {
    text-align-last: center;
    border: 1px solid red;
}

main {
    text-align: center;
    border: 1px solid blue;
}

article.odierno {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.flexCol {
    flex-basis: 40%;
    border: 1px solid brown;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}

.tabella {
    height: 100%;
    border: 1px solid darkblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexCol:first-child {
    border-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexCol:first-child > div > img {
    flex: 1;
    max-width: 200px;
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    border: 1px solid green;
}
