body {
    background: url(immagini/tuoni.jpg) no-repeat fixed center;
    background-size: cover;
}

header {
    text-align-last: center;
    border: 1px solid red;
}

h1 {
    font-size: 40px;
}

main {
    text-align: center;
    border: 1px solid blue;
    margin: 40px 0;
}

h2 {
    font-size: 30px;
}

article.odierno {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexCol {
    flex-basis: 20%;
    border: 1px solid brown;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexCol > div {
    width: 100%;
}

.tabella {
    /*height: 100%;*/
    border: 1px solid darkblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexCol > div > img {
    max-width: 200px;
    width: 100%;
    height: auto;
}

.flexCol:first-child > div > p {
    font-size: 7vw;
    margin: 0;
    float: center;
}

.cella {
    font-size: 2vw;
}

#fromXtoY {
    margin-top: 10px;
}

footer {
    text-align: center;
    border: 1px solid green;
    font-weight: bold;
}

@media screen and (max-width: 575px) {
    .flexCol:last-child {
        flex-basis: 40%;
    }
}
